<h1 class="green"><%= t('company.pay_add') %></h1>

<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <%= f.number_field :current_donate, value: '' %>
  <%= f.submit t('company.add'),class:'btn btn-primary' %>
<% end %>