<%= form_for([@post, @post.reviews.build]) do |f| %>
    <div id="rating-form">
      <label>Rating</label>
    </div>
    <%= f.submit "Добавить",class: 'btn btn-primary' %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>